<configuration>
	<dllmap os="windows" dll="libcrypto" target="libeay32.dll"/>
	<dllmap os="windows" dll="libssl" target="ssleay32.dll"/>
	<dllmap os="osx" dll="libcrypto" target="libcrypto.dylib"/>
	<dllmap os="osx" dll="libssl" target="libssl.dylib"/>
	<dllmap os="!windows,osx" dll="libcrypto" target="libcrypto.so"/>
	<dllmap os="!windows,osx" dll="libssl" target="libssl.so"/>
</configuration>
